.card {
    position: relative;
}

.card img, .card div {
    transition: all ease-in-out 200ms;
}

.card div:first-child {
    position: relative;
    overflow: hidden;
}

.card div:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    border-radius: 1rem;
}

.card div:first-child span img {
    position: relative;
    transition: all ease-in-out 200ms !important;
}

.card:hover div:first-child span img {
    transform: scale(1.03) rotate(-1deg);
}